<% layout('/layouts/boilerplate') -%>
<div class="row" novalidate>
<div class="col-8 offset-2"> <br><br><br>
    <h3>Create a new listing</h3>
  <form method="POST" action="/listings" novalidate 
  class="needs-validation" 
  enctype="multipart/form-data">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" id="title"  name="listing[title]"placeholder="enter title"  required>
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Please provide a valid title.</div>
  </div>

    <div class="mb-3" >
     <label for="description" class="form-label">Description</label>
     <textarea type="text" class="form-control" id="description"  name="listing[description]"placeholder="enter description" required  ></textarea>
     <div class="invalid-feedback">Please provide a valid description.</div>
   </div>
    <div class="mb-3">
     <label for="image" class="form-label">Uplode Image</label>
     <input type="file" class="form-control" id="image"  name="listing[image]"></input>
   </div> 

   <div class="row" >
    <div class="mb-3 col-4">
     <label for="price" class="form-label">Price</label>
     <input type="number" class="form-control" id="price"  name="listing[price]" placeholder="enter price" required >
      <div class="invalid-feedback">Please provide a valid price.</div>
    </div>
    <div class="mb-3 col-8" >
     <label for="country" class="form-label">Country</label>
     <input type="text" class="form-control" id="country"  name="listing[country]"placeholder="enter country" required >
      <div class="invalid-feedback">Please provide a valid country.</div>
    </div>
   </div>

   <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input type="text" class="form-control" id="location"  name="listing[location]"placeholder="enter location" required  >
    <div class="invalid-feedback">Please provide a valid location.</div>
   </div>  <br><br>
     <button type="submit" class="btn btn-danger">Add</button>
  </form>
</div>
</div>


