<% layout('/layouts/boilerplate') -%>
<br><br><br><br><br>
<div class="row justify-content-center ">
   <div class="alert alert-danger" role="alert">
       <p >  <%= err.message %></p>
   </div>
</div>
